<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h3 class="font-bold">Восстановление пароля</h3>
                <p>
                    Введите ваш Email после чего пароль будет сброшен и отправлен на указанный почтовый ящик.
                </p>

                <div class="row">
                    <div class="col-lg-12">
                        <form class="m-t" role="form" action="index.html">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required="">
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">Отправить новый пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
